body {
    background-color: #AAAA00;
}

a {
    color: rgb(0, 103, 194);
}

a:visited {
    color: rgb(2, 74, 115);
}

a:hover, a:active {
    color: rgb(0, 223, 239);
}

button {
    background-color: grey;
    color: black;
}

.center {
    display: block;
    color: rgb(161, 215, 53);
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
}

.centerButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    text-align: center;
}
