html {
    font-size: 22px
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: rgb(0, 136, 255);
}

a:visited {
    color: rgb(0, 162, 255);
}

a:hover, a:active {
    color: rgb(0, 238, 255);
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}