html {
    font-size: 22px
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: rgb(0, 136, 255);
}

a:visited {
    color: rgb(0, 162, 255);
}

a:hover, a:active {
    color: rgb(0, 238, 255);
}

button {
    background-color: grey;
    color: black;
}

.center {
    display: block;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
}

.centerButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
}
